@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-width: 320px;
  background-color: #020617;
  font-size: 14px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
}

input, select, textarea {
  direction: ltr;
}

input::placeholder {
  direction: rtl;
}

button,
input,
select,
textarea {
  font: inherit;
}
